h1.h11
{
    color: red;
}
button
{
    width: 100px;
    height: 30px;
}
    ul 
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: gray;
    }
  
    li 
    {
        float: left;
    }
  
    li a 
    {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
  
    li a:hover:not(.active) 
    {
        background-color: #111;
    }
    .active 
    {
        background-color: darkmagenta;
    }
    div.form1
    {
        display: none;
        text-align: center;
        position: relative;
        background-color: darkgray;
    }
    .b1
    {
        position: relative;
        top: 10px;
    }
    *
{
    margin: 0px;
    padding: 0px;
}
body
{
    background-color: antiquewhite;
}
#particles-js
{
    background-image: url(../img/demo.jpg);
    background-size: cover;
    height: 680px;
    width: 100%;
}
.d1
{
    display: inline-block;
    position: absolute;
    top: 275px;
    left: 450px;
}
.header1
{
    color: aliceblue;
    font-family:cursive;
    font-size: 70px;
}
